{% extends "layout" %}

{% use "layout/head" %}
{% use "layout/body/header" %}
{% use "layout/body/main" %}
{% use "layout/body/footer" %}

{% block document_head_title %}<title>{{ trans('auth.headings.register') }} - Audith Basis</title>{% endblock %}

{% block document_head_javascripts %}
    <script type="text/javascript" src="{{ elixir('javascripts/auth.js') }}" defer="defer"></script>
{% endblock %}

{% block document_head_stylesheets %}
    <link rel="stylesheet" href="{{ elixir('stylesheets/auth.css') }}">
{% endblock %}

{% block document_body_header %}
    <header class="container">
        <h1 class="col-md-12">Audith <em>Basis</em></h1>
    </header>
{% endblock %}

{% block document_body_main %}
    <main>
        <form class="register-form col-md-12" action="{{ action('Auth\\RegisterController@register', [], false) }}" method="post">
            {{ csrf_field() }}

            <h3 class="form-title font-green col-md-12">{{ trans('auth.headings.register') }}</h3>
            <fieldset class="form-group col-md-12">
                <label class="control-label visible-ie8 visible-ie9">{{ trans('auth.labels.name') }}</label>
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="{{ trans('auth.labels.name') }}" name="name">
            </fieldset>
            <fieldset class="form-group col-md-12">
                <label class="control-label visible-ie8 visible-ie9">{{ trans('auth.labels.email') }}</label>
                <input class="form-control placeholder-no-fix" type="text" placeholder="{{ trans('auth.labels.email') }}" name="email">
            </fieldset>
            <fieldset class="form-group col-md-12">
                <label class="control-label visible-ie8 visible-ie9">{{ trans('auth.labels.password') }}</label>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="{{ trans('auth.labels.password') }}" name="password">
            </fieldset>
            <fieldset class="form-group col-md-12">
                <label class="control-label visible-ie8 visible-ie9">{{ trans('auth.labels.password_confirmation') }}</label>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="{{ trans('auth.labels.password_confirmation') }}" name="password_confirmation">
            </fieldset>
            <fieldset class="form-group margin-top-20 margin-bottom-20 col-md-12">
                <label class="check mt-checkbox mt-checkbox-outline">
                    <input type="checkbox" name="tnc"> {{ trans('auth.i_agree') | raw }}
                    <span></span>
                </label>
                <span id="register_tnc_error"></span>
            </fieldset>
            <fieldset class="form-actions col-md-12">
                <a class="btn green btn-outline" href="{{ action('Auth\\LoginController@showLoginForm', [], false) }}">{{ trans('auth.buttons.login') }}</a>
                <button type="submit" class="btn btn-info uppercase pull-right">{{ trans('auth.buttons.signup') }}</button>
            </fieldset>
        </form>
    </main>
{% endblock %}
