{% extends "layout" %}

{% use "layout/head" %}
{% use "layout/body/header" %}
{% use "layout/body/main" %}
{% use "layout/body/footer" %}

{% block document_head_title %}<title>Register - Audith Basis</title>{% endblock %}

{% block document_head_javascripts %}
    <script type="text/javascript" src="{{ elixir('javascripts/auth.js') }}"></script>
{% endblock %}

{% block document_head_stylesheets %}
    <link rel="stylesheet" href="{{ elixir('stylesheets/auth.css') }}">
{% endblock %}

{% block document_body_header %}
    <header class="container-fluid">
        <h1 class="text-center">Audith Basis</h1>
    </header>
{% endblock %}

{% block document_body_main %}
    <main class="container-fluid">
        <h2><b>Create</b> a new account</h2>

        <form class="form-horizontal" role="form" method="POST" action="/register">
            <input type="hidden" name="_token" value="{{ csrf_token() }}">

            <fieldset class="col-md-12">
                <label for="name" class="control-label sr-only">Name</label>
                <input type="text" name="name" id="name" value="{{ old('name') }}" placeholder="Name" class="form-control">
            </fieldset>

            <fieldset class="col-md-12">
                <label for="email" class="control-label sr-only">E-mail</label>
                <input type="email" id="email" name="email" value="{{ old('email') }}" placeholder="E-mail address" class="form-control">
            </fieldset>

            <fieldset class="col-md-12">
                <label for="password" class="control-label sr-only">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" class="form-control">
            </fieldset>

            <fieldset class="col-md-12">
                <input type="password" name="password_confirmation" placeholder="Confirm password" class="form-control">
            </fieldset>

            <fieldset class="submit-button col-md-12">
                <div class="col-md-6">
                    <label>Remember me <input type="checkbox" name="remember"></label>
                    <script type="text/javascript">
                        var elem = document.querySelector("input[name='remember']");
                        var init = new Switchery(elem, {
                            size: 'small'
                        });
                    </script>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary btn-xs col-md-12">
                        Sign up
                    </button>
                </div>
            </fieldset>

            <p>or</p>

            <fieldset class="socialite">
                <a class="btn btn-primary brand-color-twitter fa-twitter" href="/login/twitter"></a>
                <a class="btn btn-primary brand-color-googleplus fa-google-plus" href="/login/google"></a>
                <a class="btn btn-primary brand-color-facebook fa-facebook" href="/login/facebook"></a>
            </fieldset>
        </form>

        <ul class="col-md-12">
            <li class="col-md-6 text-left"><a href="/login">Sign in</a></li>
            <li class="col-md-6 text-right"><a href="/password/email">Reset password</a></li>
        </ul>
    </main>
{% endblock %}
