{% extends "layout" %}

{% use "layout/head" %}
{% use "layout/body/header" %}
{% use "layout/body/main" %}
{% use "layout/body/footer" %}

{% block document_head_title %}<title>Audith Basis</title>{% endblock %}

{% block document_head_javascripts %}
    <script type="text/javascript" src="{{ elixir('javascripts/auth.js') }}" defer="defer"></script>
{% endblock %}

{% block document_head_stylesheets %}
    <link rel="stylesheet" href="{{ elixir('stylesheets/auth.css') }}">
{% endblock %}

{% block document_body_header %}
    <header class="container">
        <h1 class="col-md-12">Audith <em>Basis</em></h1>
    </header>
{% endblock %}

{% block document_body_main %}
    <main>
        <form class="login-form col-md-12">
            <input type="hidden" name="_token" value="{{ csrf_token() }}">

            <h3 class="form-title font-green col-md-12">{{ trans_choice('auth.headings.welcome', userType, {'name' : name})|raw }}</h3>
            <fieldset class="col-md-12">
                <a class="btn green uppercase" href="{% if name == trans('auth.guest') %}{{ action('Users\\AuthController@getLogin', [], false) }}{% else %}{{ action('Users\\AuthController@getLogout', [], false) }}{% endif %}">
                    {% if name == trans('auth.guest') %}{{ trans('auth.buttons.login') }}{% else %}{{ trans('auth.buttons.logout') }}{% endif %}
                </a>
            </fieldset>
        </form>
    </main>
{% endblock %}

{% block document_body_footer %}
    <footer>2015 © Audith Softworks.</footer>
{% endblock %}
