<!DOCTYPE html>
<html lang="{% if session_has('locale') %}{{ session_get('locale') }}{% else %}{{ config_get('app.fallback_locale') }}{% endif %}">
    <head>
        {{ block('document_head') }}
    </head>
    <body>
        {{ block('document_body_header') }}

        {{ block('document_body_main') }}

        {{ block('document_body_footer') }}
    </body>
</html>
