<!DOCTYPE html>
{% set locale = app.make('translator').getLocale() %}
<!--[if IE 8]><html lang="{{ locale }}" class="ie8 no-js"><![endif]-->
<!--[if IE 9]><html lang="{{ locale }}" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!--><html lang="{{ locale }}"><!--<![endif]-->
    <head>
        {{ block('document_head') }}
    </head>
    <body>
        {{ block('document_body_header') }}

        {{ block('document_body_main') }}

        {{ block('document_body_footer') }}
    </body>
</html>
