{% extends "layout" %}

{% use "layout/head" %}
{% use "layout/body/header" %}
{% use "layout/body/main" %}
{% use "layout/body/footer" %}

{% block document_head_title %}<title>{{ trans('auth.headings.password') }} - Audith Basis</title>{% endblock %}

{% block document_head_javascripts %}
    <script type="text/javascript" src="{{ elixir('auth.js') }}"></script>
{% endblock %}

{% block document_head_stylesheets %}
    <link rel="stylesheet" href="{{ elixir('vendor.css') }}">
{% endblock %}

{% block document_body_header %}
    <header class="container">
        <h1 class="col-md-12">Audith <em>Basis</em></h1>
    </header>
{% endblock %}

{% block document_body_main %}
    <main>
        <form class="forget-form col-md-12" action="{{ action('Auth\\PasswordController@sendPasswordResetLink', [], false) }}" method="post">
            {{ csrf_field() }}

            <h3 class="form-title font-green col-md-12">{{ trans('auth.headings.password') }}</h3>
            <fieldset class="form-group col-md-12">
                <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="{{ trans('auth.labels.email') }}" name="email">
            </fieldset>
            <fieldset class="form-actions col-md-12">
                <a class="btn btn-default" href="{{ route('login', [], false) }}">{{ trans('auth.buttons.login') }}</a>
                <button type="submit" class="btn btn-success uppercase pull-right">{{ trans('auth.buttons.password') }}</button>
            </fieldset>
        </form>
    </main>
{% endblock %}
